@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
    color:white;
}
.left{
    width:25vw;
    padding:10px; 
    
}
.right{
    width:75vw;
}
.home ul li{
    display: flex;
    list-style-type: none;
    width:14px;
    gap:15px;
    padding-top: 14px;
    font-weight: bold;
}
.bg-black{
    background-color: black;
    color:white;
}
.invert{
    filter: invert(1);
}
.heading{
    display: flex;
    width:100%;
    align-items: center;
    gap:15px;
    padding-top: 14px;
    padding:23px 14px;
    font-size:13px;
}
.heading img{
    width:28px;
}
.library{
    min-height:50vh ;
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    gap:10px;
    position: absolute;
    bottom: 0;
}
.footer a{
    color:grey;
}
.right{
    margin:16px 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);

}
.header  > *{
    padding: 20px;
}
.spotifyPlaylist{
    padding: 16px;
}
.cardContainer{
    margin:30px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    padding:10px;
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
}
.card > *{
    padding-top: 10px;
}
.card img{
    width:100%;
    object-fit: contain;
}