 * {
     margin: 0;
     padding: 2px;
     box-sizing: border-box;
 }

 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 ul {
     display: flex;
     list-style: none;
     gap: 25px;
 }

 li {
     /* margin: 0 10px; */
     /* padding: 10px; */
     font-size: 20px;
     font-weight: bold;
 }

 .b {
     text-align: center;
     border: 2px solid black;
     /* height: 10px;
            padding: 10px 20px 30px 20px;padding: top right bottom left */
 }

 .c {
     font-size: 50px;
 }

 main {
     text-align: center;
     margin-top: 50px;
     
 }
.container *{
    margin: 20px;
    
}
h2 {
    font-size: 25px;
    font-weight: normal;
    color: gray;
}
 .button {
     display: inline-block;
     padding: 10px 20px;
     font-size: 20px;
     color: white;
     background-color: rgb(138, 138, 225);
     border: none;
     border-radius: 5px;
     cursor: pointer;
     text-decoration: none;
 }
 .button a{
    text-decoration: none !important;
    color: snow;
}
 .value :nth-child(3){
    font-size: 8px;
 }
 .value :nth-child(4){
    font-size: 8px;
 }
 .con{
    padding: 150px;
    padding-top: 0px;
    display: grid;
    grid-template-columns:repeat(3,0.5fr);
    grid-template-rows: repeat(4, 0.5fr);
    gap: 20px;
    max-width: 30vw;
    
 }
 .value{
    border: 2px solid rgb(249, 246, 246);
    background-color:rgb(249, 246, 246) ;
    text-align: center;
    padding: 10px;
    border-radius: 9px;
   
 }
 .value :nth-child(1){
    margin-bottom:30px ;
 }